<!-- ikeliam head -->
<%- include('../partials/head.ejs') %>

<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('../partials/nav.ejs')%>

<section id="one-post" class="jumbotron text-center" data-post-id="<%= ownerId %>">
  <div class="container">
    <h2><%-result.name%></h2>
    <p class="lead text-muted"><%- result.email%></p>

    <p><%- result.createdAt.toLocaleString()%></p>

    <a class="btn btn-outline-secondary" href="/owners/edit/<%= ownerId %>">Edit owner</a>
    <a class="btn btn-outline-secondary" href="/house/new/<%= ownerId %>">Add house to this owner</a>
    <a href="/owners" class="btn btn-primary my-2">Go back</a>
  </div>
  <form action="/owners/delete/<%= ownerId %>" method="POST">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>
</section>
<% if(houses.length > 0) {%>
<h5 class="my-3">Owners Properties</h5>
<% houses.forEach(({ houseNo, street, town })=> { %>
<ul class="list-group my-3">
  <li class="list-group-item"><%= `House number: ${houseNo}` %></li>
  <li class="list-group-item"><%= `Street: ${street}` %></li>
  <li class="list-group-item"><%= `Town: ${town}` %></li>
</ul>
<% }) %> <%}%> <%-include('../partials/footer.ejs')%>
